<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cat Lovers' Haven</title>
    <style>
        .content-wrapper {
            margin: 20px;
        }

        .header-content {
            text-align: center;
        }

        h1 {
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }

        h2 {
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }

        .text-and-image {
            display: flex;
            align-items: flex-start; /* Aligns items to the start of the cross axis */
        }

        .text-content {
            flex: 1; /* Takes up remaining space */
        }

            .text-content p {
                /* text-shadow: 1px 1px 2px #ffffff; /* Subtle shadow for paragraph text */ */
            }

        .image-content img {
            width: 300px; /* Adjust width as needed to fit the text */
            height: auto; /* Maintain aspect ratio */
            margin-left: 30px; /* Space between text and image */
            margin-top:10px;
            border: 2px solid rgba(0, 00, 00, 0.5); /* Add a solid black border */
            border-radius: 8px; /* Add border radius for rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
        }

        .text-white {
            color:white;
            text-align: left;
        }
      
    </style>
</head>
<body>

    <header class="content-wrapper header-content">
        <h1 class="text-white">Welcome to About Cats</h1>
    </header>

  
    <div class="image-content">
        <img src="~/images/2.jpeg" alt="White Cat">
    </div>
    <main class="content-wrapper text-and-image">
        <div class="text-content">
            <p class="text-white" style="font-size: 20px">
                From ancient Egyptians to today’s cat is always mean something to the cat owner. People have always loved their cats.
                In the U.S. alone, cats reign over about 45.3 million households. There are at least 45 domestic breeds, which differ widely in features such as coat color, tail length, hair texture, and temperament, according to the Cat Fancier’s Association.
            </p>

            <hp class="text-white" style="font-size: 20px">
                On ous website you will find out more about cats and some advice for cats foods,cats toys.  
            </hp>

        </div>
    </main>
    
    <footer class="content-wrapper text-content">
        <span class="text-white" style="font-size: 20px">&copy; copy rights, Made by: Hong Huynh, Isaac Lavana</span>
    </footer>
</body>
</html>
