@model Cat
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="padding:50px">


    <h1 class="text-white">
        About Us!

    </h1>
   
    <div class="cat-item">
          <img src="/images/H2.jpeg" alt="Hong Picture" style="width: 160px;">
          
               
    <p class="text-white" style="font-size: 20px">
           
    <div>
                <p class="text-white" style="font-size: 20px"> We love pets, and we believe loving pets makes us better people. That’s one of the many reasons we created this website. We want to offer cat owner a plate to find out more about cat and give their they a happy life.

                From how to take care the cat, to find out what to expect for the first time to adopt a cat, to finding the perfect treats and toys, we created a place that cat owner can share their experience and feedback.and to create more ways for pets to be a part of our everyday lives.

                You also will find the link that where to buy foods or toys that are from the favorites page the cat owner submitted to us. </p>

                <p class="text-white" style="font-size: 20px">Please connet me on LinkedIn </p>

   
                <img src="/images/Picture1.png" alt="Qr code" style="width: 80px;">
    
     </div><br>



            <footer class="content-wrapper text-content">
                <span class="text-white" style="font-size: 20px">&copy; copy rights, Made by: Hong Huynh, Isaac Lavana</span>
            </footer>

<style>

    h1 {
      font-size: calc(1.375rem + 1.5vw);
      text-align: center;


</style>

           
